<style>
    .VhandsFoot {
        background-image: url('/images/VinylHands.jpg');
        background-size: cover;
        background-position: center;
        height: 100px; /* Adjust this height as needed */
        display: flex; /* Center content vertically */
        align-items:end; /* Center content vertically */
        justify-content: right; /* Center content horizontally */
        color: white; /
    }
    .pFoot{
        margin: 8px;
        font-weight: bold;
        font-size: 2rem;
    }
</style>
<hr>
    <div class="VhandsFoot">
        <p class="pFoot">© 2024</p>
    </div>
</body>
</html>