<%- include("partials/head.ejs") %>
<%- include("partials/header.ejs") %>
<% if (user) { %>
    <a href="/secretWord"><button type="button">SECRET WORD</button></a>
    <hr />
    <a href="/albums"><button type="button">VIEW ALBUMS</button></a>
    <hr />
    <form method="POST" action="/sessions/logoff">
        <input type="hidden" name="_csrf" value="<%= _csrf %>">
        <button>LOG OFF</button>
      </form>
<% } else { %>
    <a href="/sessions/logon"><button type="button">LOGIN</button></a>
    <a href="/sessions/register"><button type="button">REGISTER</button></a>

<% } %>
<%- include("partials/footer.ejs") %>

